.articleHeader span a,
.pagination>li>a,
a,
a b {
    color: {$theme_settings.custom_base_color}
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: {$theme_settings.custom_base_color};
    border-color: {$theme_settings.custom_base_color}
}
.nivo-directionNav .nivo-nextNav:hover,
.nivo-directionNav .nivo-prevNav:hover,
.owl-carousel.slideshowhome .owl-controls .owl-buttons .owl-next:hover,
.owl-carousel.slideshowhome .owl-controls .owl-buttons .owl-prev:hover {
    background-color: {$theme_settings.custom_base_color}
}
#blogArticle .articleHeader h1 a:hover,
#blogCatArticles .articleHeader h3 a:hover,
.articleHeader span a:hover,
.box-category a:hover,
.breadcrumb a:hover,
.category .tabs li a:hover,
.list-item a:hover,
.login-content .right a:hover,
.pagination>li>a:hover,
.sitemap li a:hover,
.tags-update .tags a:hover,
a b:hover,
a:hover {
    color: {$theme_settings.custom_base_color}
}
#header{
    background: {$theme_settings.custom_header_color}
}
#header .htop {
    background-color: {$theme_settings.custom_top_menu_color}
}
#currency span,
#header #top-links>ul>li>a,
#header .links>ul>li .wrap_custom_block>a,
#header .links>ul>li.email,
#header .links>ul>li.mobile,
#header .links>ul>li>a,
#language span {
    color: {$theme_settings.custom_top_menu_text_color}
}
#header .links>ul>li.wrap_custom_block>a b {
    border-color: #333 transparent transparent
}
#currency,
#header #top-links,
#header #top-links>ul>li,
#header .links,
#header .links>ul>li,
#language {
    border-color: #ccc
}
#currency ul li .currency-select:hover,
#top .dropdown-menu li a:hover {
    color: {$theme_settings.custom_base_color}
}
#header #search input {
    background: #f6f6f6
}
#header #cart.open .heading span:after {
    border-color: transparent transparent {$theme_settings.custom_base_color}
}
#header #cart .dropdown-menu,
#header #cart .heading div.cart-icon:after,
#header #cart .heading div.cart-icon:before {
    border-color: {$theme_settings.custom_base_color}
}
#header #cart .heading div.cart-icon {
    background: {$theme_settings.custom_base_color}
}
#menu {
    background-color: {$theme_settings.custom_menu_color};
    border: none
}
#menu .nav>li>a,
#menu .navbar-header>span {
    color: {$theme_settings.custom_text_menu_color};
    font-size: 14px
}
#menu .nav>li>a.home_link {
    background-color: {$theme_settings.custom_base_color}
}
#menu .nav>li>a.home_link:hover {
    background-color: #eee;
    color: {$theme_settings.custom_base_color}
}
#menu .nav>li>a.home_link span:before {
    border-color: transparent transparent #fff
}
#menu .nav>li>a.home_link span:after {
    border-color: #fff
}
#menu .nav>li>a.home_link span {
    background: #fff
}
#menu .nav>li>a.home_link:hover span:before {
    border-color: transparent transparent {$theme_settings.custom_base_color}
}
#menu .nav>li>a.home_link:hover span:after {
    border-color: {$theme_settings.custom_base_color}
}
#menu .nav>li>a.home_link:hover span {
    background: {$theme_settings.custom_base_color}
}
#menu .nav>li.custom-link-right>a {
    background-color: {$theme_settings.custom_base_color}
}
#menu .nav>li.custom-link-right:hover>a {
    background-color: #eee;
    color: {$theme_settings.custom_base_color}
}
#menu .nav>li.categories>div,
#menu .nav>li.categories>div>.column>div,
#menu .nav>li.categories_hor>div,
#menu .nav>li.categories_hor>div .submenu,
#menu .nav>li>.dropdown-menu,
#menu .submenu {
    border-color: {$theme_settings.custom_base_color}
}
#menu .nav>li.sub:hover>a:after {
    border-bottom-color: {$theme_settings.custom_base_color}
}
#menu .nav>li:hover>a {
    color: {$theme_settings.custom_base_color}
}
#menu .custom_block,
#menu .custom_block a,
#menu .nav>li div>ul>li>a,
#menu .nav>li.categories>div>.column>a,
#menu .nav>li.menu_brands>div>div a {
    color: #222
}
#menu .custom_block a:hover,
#menu .nav>li div>ul>li:hover>a,
#menu .nav>li.categories>div>.column:hover>a,
#menu .nav>li.categories_hor>div>.column:hover>a,
#menu .nav>li.menu_brands>div>div a:hover {
    color: {$theme_settings.custom_base_color}
}
#menu .nav>li.categories_hor>div>.column>a {
    color: #222
}
.custom-feature-box .feature-box {
    background: #eee
}
.custom-feature-box .feature-box .title {
    font-size: 15px;
    color: {$theme_settings.custom_base_color}
}
.custom-feature-box .feature-box p {
    font-size: 13px;
    color: #777
}
.saving {
    background: {$theme_settings.custom_label_color};
    color: #fff
}
.product-info .price,
.product-thumb .price {
    color: {$theme_settings.custom_color_price}
}
.product-thumb .price-old {
    color: #999
}
.product-thumb .button-group>button {
    background-color: #eee;
    color: #666
}
.product-thumb .button-group>button:hover {
    background-color: {$theme_settings.custom_base_color};
    color: #fff
}
.product-thumb .button-group .add-to-links button {
    color: #777
}
.product-thumb .button-group .add-to-links button:hover {
    color: #000
}
.btn-primary {
    background-color: {$theme_settings.custom_base_color}
}
.btn-primary.active,
.btn-primary.disabled,
.btn-primary:active,
.btn-primary:hover,
.btn-primary[disabled] {
    background-color: {$theme_settings.custom_hover_color}
}
#footer .fpart-first {
    background-color: {$theme_settings.custom_footer_first_color}
}
#footer .fpart-first,
#footer .fpart-first a {
    color: {$theme_settings.custom_footer_first_text_color}
}
#footer .fpart-first a:hover {
    color: {$theme_settings.custom_base_color}
}
#footer h5 {
    color: {$theme_settings.custom_footer_first_text_color_title}
}
#footer #powered {
    border-bottom-color: #222
}
#footer .fpart-second {
    color: {$theme_settings.custom_footer_second_text_color};
    background-color: {$theme_settings.custom_footer_second_color}
}
#footer .fpart-second a {
    color: {$theme_settings.custom_footer_second_text_color};
}
#footer .fpart-second a:hover {
    color: {$theme_settings.custom_base_color}
}
.drop-icon {
    color: #333
}
.left-top {
    background-color: {$theme_settings.custom_top_menu_color}
}
#menu .navbar-header>span>b:before {
    border-color: transparent transparent #fff
}
#menu .navbar-header>span>b:after {
    border-color: #fff transparent transparent
}
#menu .nav>li>span.submore:after {
    color: #fff
}
